body {
  background-color: darkgrey;
}

#home-link {
  font-size: 25px;
  display: flex;
  justify-content: center;
  background-color: salmon;
}

a {
  text-decoration: none;
  color: white;
}

form {
  margin-top: 25px;
  margin-left: 25px;
}


table {
  border: 1px solid;
  margin-top: 50px;
  margin-left: 50px;
}

tr {
  border: 1px solid;
  
}

td {
  border: 1px solid;
  
}

th {
  border: 1px solid;
}


